// GLOBAL
// Resets and wrappers for structure
*,
*:before,
*:after {
    box-sizing: inherit;
}
::-moz-selection {
    color: #FFF;
}
::selection {
    color: #FFF;
}
html {
    box-sizing: border-box;
}
body {
    font-size: $font-size;
}
iframe, img, object {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0;
}
// remove underline from specific links
a {
    text-decoration: none;
}
// reset list items
nav ul,
.tags ul,
#notes ol,
.chat {
    padding: 0;
    margin: 0;
    list-style: none;
}
blockquote {
    margin: $spacing 0;
    padding: 0 0.7em;
}

span.divider {
    display: block;
    width: 20%;
    height: 2px;
    position: relative;
    bottom: -1 * $spacing;
}
// Containers

div#main-flex {
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;

    // Fixed width, center it
    width: 100%;
    padding-left: (100% - $wrapper-width) / 2;
    padding-right:(100% - $wrapper-width) / 2;
    
    @include break-point(small) {
        flex-wrap:wrap;
        width:100%;
    }
}


// content describes big column
div#content {
    
    width: $content-width;
    flex-basis:auto;

    padding-left:3rem;

    @include break-point(small) {
        width: 100%;
    }
}

div#sidebar {

    padding-top: 2em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;

    width: $sidebar-width;
    
    flex-basis: auto;
    //Width is auto-determined by the content width

    font-size:.9em;
    
    
    @include break-point(small) {
        flex-basis: 100%;
        width: 100%;
    }   
}



/*
.flex-item {
    display:inline-flex;
    flex-grow: 1;
    flex-shrink:1;
    flex-basis:10%;
}
*/