// GLOBAL
// Resets and wrappers for structure
*,
*:before,
*:after {
    box-sizing: inherit;
}
::-moz-selection {
    color: #FFF;
}
::selection {
    color: #FFF;
}
html {
    box-sizing: border-box;
}
body {
    font-size: $font-size;
}
iframe, img, object {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0;
}
// remove underline from specific links
a {
    text-decoration: none;
}
// reset list items
nav ul,
.tags ul,
#notes ol,
.chat {
    padding: 0;
    margin: 0;
    list-style: none;
}
blockquote {
    margin: $spacing 0;
    padding: 0 0.7em;
}
span.divider {
    display: block;
    width: 20%;
    height: 2px;
    position: relative;
    bottom: -1 * $spacing;
}
// Containers

div#main-flex {
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    width: $wrapper-width;
}
 

// content describes big column
div#content {
        
    width: $content-width;
    flex-basis:auto;
    @include break-point(small) {
        width: 100%;
    }
}

div#sidebar {

    padding-top: 2em;
    padding-left:.1* $wrapper-width;
    padding-right:.1* $wrapper-width;
    padding-bottom: 2em;

    width: $content-width * .3;
    
    flex-basis: auto;
    //Width is auto-determined by the content width
    
    @include break-point(small) {
        flex-basis: 100%;
        width: 100%;
    }   
}

/*
.flex-item {
    display:inline-flex;
    flex-grow: 1;
    flex-shrink:1;
    flex-basis:10%;
}
*/