// HEADER
// Shown at top of theme
header {
    text-align: center;

    // Flexbox code
    display: flex;
    justify-content:center;
    align-items: middle;
    
    width: 100%;
    padding-top:2em;
    padding-bottom:2em;
    padding-left: (100% - $wrapper-width) / 2;
    padding-right:(100% - $wrapper-width) / 2;
    
    background-size: cover !important;
    margin-bottom: 1em;

    h1 {
        margin: 0.5em 0;
        font-weight: bold;
        font-size: $font-size-m;
    }
    
    p {
        margin: 0;
        text-align:left;
        vertical-align:middle;
    }
    
    #avatar-shape-circle img {
        border-radius: 20em;
    }
    
    @include break-point(small) {
        text-align: left;
        // Disable flex when mobile
        display: block;
    }

    .blog-header, .blog-about {
        z-index:100;
    }
    
    .blog-header {
        width: $sidebar-width;
        flex-basis:auto;
        
    }
    
    .blog-about {

        width: $content-width;
        flex-basis: auto;
        padding-left:3rem;
        h2 {

            text-align:left;
        }

        //Paragraph spacing
        p {
            font-size:.9em;
            line-height:1.15em;
            margin-bottom:.5em;
        }
    }
}

.has-header-tint {
    #header-tint {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        pointer-events: none;
        opacity: 0.6;
    }
    header a,
    header p,
    header {
        position: relative;
        z-index: 100;
    }
}