// HEADER
// Shown at top of theme
header {
    text-align: center;

    // Flexbox code
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align: middle;
    -webkit-align-items: middle;
    -ms-flex-align: middle;
    align-items: middle;
    
    width: 100%;
    padding-top:2em;
    padding-bottom:2em;
    padding-left: (100% - $wrapper-width) / 2;
    padding-right:(100% - $wrapper-width) / 2;
    
    background-size: cover !important;
    margin-bottom: 1em;

    h1 {
        margin: 0.5em 0;
        font-weight: bold;
        font-size: $font-size-m;
    }
    
    p {
        margin: 0;
        text-align:left;
        vertical-align:middle;
    }
    
    #avatar-shape-circle img {
        border-radius: 20em;
    }
    
    @include break-point(small) {
        text-align: center;
        // Disable flex when mobile
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align: middle;
        -webkit-align-items: middle;
        -ms-flex-align: middle;
        align-items: middle;

        -webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;
        
    }

    .blog-header, .blog-about {
        z-index:100;
    }

    ul {
        margin-bottom:1em;
    }
    
    ul:last-of-type{
        margin-bottom:0;
    }
    
    .blog-header {
        width: $sidebar-width;
        -webkit-flex-basis:auto;-ms-flex-preferred-size:auto;flex-basis:auto;
        
    }

    .blog-about>* {
        max-width:30em;
    }
    
    .blog-about {
        width: $content-width;

        -webkit-flex-basis: auto;-ms-flex-preferred-size: auto;flex-basis: auto;

        padding-left:3rem;
        h2 {

            text-align:left;
        }

        //Paragraph spacing
        p {
            font-size:.85em;
            line-height:1.25em;
            margin-bottom:.5em;
            
        }

        a {
            font-weight:bold;
            :hover {
                border-bottom: 1px solid;
            }
        }

        @include break-point(small) {
            width:auto;
            padding-left:0;
        }
        
    }
}

// submit label
.label-submit {
    
}

.has-header-tint {
    #header-tint {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        pointer-events: none;
        opacity: 0.6;
    }
    header a,
    header p,
    header {
        position: relative;
        z-index: 100;
    }
}