// Navigation
nav {
    width: 100%;
    display: inline-block;
    float: left;
    li {
        display: inline-block;
        margin: 0 $spacing/2 0 $spacing/2;
    }
    a {
        width: 100%;
        display: inline-block;
        font-weight: bold;
        
        &:hover {
            text-decoration:dotted underline;
        }
    }
    .social-icon {
        a {
            &:hover {
                border-bottom: none;
            }
        }
    }
}
// Navigation
.page-nav {
    display: inline-block;
    text-align: center;
    margin: 3em 0;
    li {
        display: inline-block;
        margin: 0 $spacing;
        float: none;
    }
}
