#sidebar {

    .nav-tag {
        // Reset list styles
        list-style-type:none;
        padding-left:0;

        padding-bottom:1em;
    }

    .nav-tag li {
        display:block;
        width:auto;
    }

    .nav-tag a {
        width:auto;
    }
    
    .widget-title:first-of-type {
        margin-top:0;
        
    }

    .nav-tag-a {
        font-size:1.2em;
    }

    .nav-tag-b {
        font-size:1em;
    }

    .widget-title {
        font-weight: bold;
        display: inline-block;
    }
    .widget-title,
    .sidebar-custom-image {
        margin: 1em 0;
    }
    .user-content,
    .user-avatars {
        ul, ol {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
    .user-avatars {
        li {
            float: left;
        }
        img {
            border-radius: 0.3em;
        }
    }
    .sidebar-widget {
        display: inline-block;
        width: 100%;

        margin-bottom: 1.5em;
    }


    .random {
        margin-bottom: 1.5em;
        font-weight:bold;
    }
    // Search submit button

    input.submit {
        margin-top: .5em;
        line-height:1.75em;
    }
    //search field
    input {
        width: 100%;
        font-size:.85em;
        padding: .75em 1em;
    }
    // Margin reset for second element of widget (widget content)
    .sidebar-widget > *:nth-child(2) {
        margin: 0;
    }
}
